<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dungzi.weplay" version="4" android-versionCode="4" xmlns="http://www.w3.org/ns/widgets"  xmlns:gap="http://phonegap.com/ns/1.0">
    <name>위플레이</name>
    <description>	
        위플레이
    </description>
    <author email="barun5458@naver.com" href="http://www.weplays.co.kr/">
        Weplay Team
    </author>
	<preference name="AutoHideSplashScreen" value="true" />
	<preference name="SplashScreenDelay" value="5000" />
	<preference name="SplashScreen" value="screen"/>
	<preference name="android-minSdkVersion" value="15" />
	<preference name="fullscreen" value="true" />

	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm"  />
	<gap:plugin name="cordova-plugin-splashscreen" source="npm" />
	
	<splash src="splash.png" />
	<platform name="android">  
		<splash src="splash.png" qualifier="ldpi"/>  
		<splash src="splash.png" qualifier="mdpi"/>  
		<splash src="splash.png" qualifier="hdpi"/>  
		<splash src="splash.png" qualifier="xhdpi"/>  
		<splash src="splash.png" qualifier="xxhdpi"/>  
	</platform>

	<allow-navigation href="*" />
	<icon src="icon.png" />
	<content src="index.html" />
	<access origin="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="sms:*" />
	<allow-intent href="tel:*" />
</widget>